@forward "globals";
@forward "components";
@use "utilities" as breakpoint;

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: #dfdfdf;
  font-family: var(--ff-PlusJakartaSans);

  main {
    max-width: 375px;
    background-color: var(--white);
    background: linear-gradient(180deg, var(--white) 25%, #f0f2ff 100%);
    padding: 1rem;
    overflow: hidden;

    @include breakpoint.media("md") {
      max-width: 768px;
      padding: 1.5rem 2.5rem;
    }
    @include breakpoint.media("lg") {
      max-width: 1440px;
      padding: 1.5rem 10rem;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color2);
    padding: 2rem 1rem;

    @include breakpoint.media("md") {
      padding-inline: 2.5rem;
    }
    @include breakpoint.media("lg") {
      padding-inline: 10rem;
    }

    &__logo {
      max-width: 89px;

      @include breakpoint.media("lg") {
        max-width: 111px;
      }
    }

    &__btn {
      display: inline-block;
      background: var(--gradient2);
      color: var(--white);
      font-size: var(--fs-16);
      font-weight: var(--fw-700);
      padding: 1rem 1.5rem;
      border-radius: 50px;

      @include breakpoint.media("lg") {
        font-size: var(--fs-18);
        padding-inline: 2rem;
      }

      &:hover {
        background: linear-gradient(
          180deg,
          lighten(rgba(72, 81, 255, 1), 10%) 0.04%,
          lighten(rgba(240, 42, 166, 1), 10%) 100%
        );
      }
    }
  }
}
